*{
	padding: 0px;
	margin: 0px;
}
.collapse ul li
{
    padding: 15px;
}
nav.navbar{
	border-bottom: 5px solid #1293d4;
}

nav.navbar div.form-group div.row a img{
	
}
nav.navbar div.collapse{
	float: right;
}
nav.navbar a.navbar-brand{
	color: #1293d4;
	font-weight: bold;
}
.collapse ul.navbar-nav li.nav-item a.nav-link{
	color: #fff;
}
div.contenedor{
	 width: 100%;
	 position: relative;
	 
}
div.contenedor #DatosImagen{
	min-height: 400px;
}

div.contenedor #DatosImagen h1.left{
	position: absolute;
	color: #fff;
	top: 60px;
	font-weight: bold;
	font-size: 200%;
	left: 100px;
}

div.contenedor #DatosImagen h2.left{
	position: absolute;
	color: #fff;
	top: 120px;
	font-weight: bold;
	font-size: 200%;
	left: 100px;
}

a.nav-link:hover{
	color: #ccc;
	font-weight: bold;
 
}

/*TEXTO EN UNA IMAGEN*/
div.textoImagen
{
	position: relative;
	display: inline-block;
	width: 100%;
}

div.textoImagen{
	-webkit-animation: swing 1s ease;
animation: swing 1s ease;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}

@-webkit-keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
div.textoImagen h1.textoencima1{
	position: absolute;
	top: 15%;
	color: #fff;
	left: 7%;
}

div.textoImagen h3.textoencima2{
	position: absolute;
	top: 25%;
	color: #fff;
	left: 7%;

}

div.textoImagen h3.textoencima2 a{
	text-decoration: none;
	color: #1293d4;
	text-shadow: 0 0 30px #fff;
    box-shadow: 7 0 70px #fff;
    text-align: left; 
font-family: Arial Black; 
font-weight: bold; 
font-size: 30px; 
color: red; 
text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}

div.textoImagen h3.textoencima2 a:hover{
	font-size: 25px;
}

@media(max-width: 768px) {
	div.contenedor #DatosImagen h1.left{
		font-size: 25px;
		left: 10px;
		top: 15px;
	}
	div.contenedor #DatosImagen h2.left{
		font-size: 20px;
		left: 10px;
		top: 40px;
	}

	div.textoImagen h1.textoencima1{
		position: absolute;
	    top: 15%;
	    color: #fff;
	    left: 3%;
	    font-size: 90%;
	}

	div.textoImagen h3.textoencima2{
		position: absolute;
	    top: 25%;
	    color: #fff;
	    left: 3%;
	    font-size: 70%;
	    margin-top: 7px;
	}

	div.textoImagen h3.textoencima2 a{
		color: red;
		float: left;
		font-weight: bold;
		font-size: 24px;
		margin-top: 4px;
		
	} 
}










