*{
	margin: 0px;
	padding: 0px;
}
.collapse ul li
{
    padding: 15px;
}
nav.navbar{
	border-bottom: 5px solid #1293d4;
}
nav.navbar div.collapse{
	float: right;
}
nav.navbar a.navbar-brand{
	color: #1293d4;
	font-weight: bold;
}
.collapse ul.navbar-nav li.nav-item a.nav-link{
	color: #fff;
}
a.nav-link:hover{
	color: #ccc;
	font-weight: bold;
 
}
div.contenedor{
	width: 100%;
	min-height:  560px;
	background-color: #FBFBFB;
	border: 1px solid transparent;
	border-bottom: 2px solid red;
	
	
	
}
div.titulo{

}

div.contenido{

	padding: 60px;
	font-family: 'Gochi Hand', cursive;
	font-weight: bold;
	font-size: 100%;
    text-align: justify;
}

div.titulo{
	width: 100%;
	padding: 20px;
}