.collapse ul li
{
    padding: 8px;
}
nav.navbar{
	border-bottom: 5px solid #1293d4;
}
nav.navbar div.collapse{
	float: right;
}
nav.navbar a.navbar-brand{
	color: #1293d4;
	font-weight: bold;
}
.collapse ul.navbar-nav li.nav-item a.nav-link{
	color: #fff;
}
div.contenedor{
	 width: 100%;
	 position: relative;
}
a.nav-link:hover{
	color: #ccc;
	font-weight: bold;
 
}

/*PANTALLA DE LIDERES*/
div.container-lideres{
	width: 100%;
	max-height: 4000px;
	background-image: url(../imagenes/fondo.jpg);
	background-size: 200%;
	animation: movimiento 10s infinite;
}
div.container-lideres div.row{
	margin-bottom: 15px;
	padding-top: 25px;
}

div.container-lideres div.container-cuadro div.row img{
	width: 200px;
	height: 200px;
	background-size: 100%;
	animation: movimiento 10s infinite;
}

@keyframes movimiento{
	from{
		backgroun-position:bottom left;

		}to{

			background-position: top right;

		}
}

/*FIN DE LIDERES*/


@media(max-width: 768px) {
	nav.navbar button.boton{
		background-color: red;
		color: white;
	}
	div.collapse ul.navbar-nav li.nav-item a.nav-link{
      font-size: 14px;
      margin: 0px;
      background-color: #1293d4;
      color: white;
      text-align: left;
      padding-left: 15px;
	}
	div.container-lideres{
		max-height: 7000px;

	}	
}